<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secret Admirer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <style>
    @media only screen and (max-width: 600px) {
  .body {
    top: 580px;
  }
  .foot {
    top: 740px;
  }
  form {
    height: 680px;
  }
}
  </style>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="panda">
  <div class="ear"></div>
  <div class="face">
    <div class="eye-shade"></div>
    <div class="eye-white">
      <div class="eye-ball"></div>
    </div>
    <div class="eye-shade rgt"></div>
    <div class="eye-white rgt">
      <div class="eye-ball"></div>
    </div>
    <div class="nose"></div>
    <div class="mouth"></div>
  </div>
  <div class="body"> </div>
  <div class="foot">
    <div class="finger"></div>
  </div>
  <div class="foot rgt">
    <div class="finger"></div>
  </div>
</div>
<form action="/secret-admirer/{{form['form_id']}}/submit" method='POST'>
  <div class="hand"></div>
  <div class="hand rgt"></div>
  
  <h1>Secret Admirer</h1>
  <h4>Enter your details about your secret admirer.<br>
    HINT them that it might be you who said it but don't make it too obvious.<br>
    (your identity will be anonymous) </h4>
  <div class="form-group">
    <input name="email" required="required" class="form-control"/>
    <label class="form-label">Email address</label>
    
  </div>
  <div class="form-group">
    <input name="name" required="required" class="form-control"/>
    <label class="form-label">What is your name?</label>
  </div>
  <div class="form-group">
    <input name="secret_admirer" id="password" required="required" class="form-control"/>
    <label class="form-label">Who is your secret admirer?</label>
  </div>
  <div class="form-group">
    <input name="reason" required="required" class="form-control"/>
    <label class="form-label">Tell us why</label>
  </div>
  <div class="form-group">
    <input name="hint" required="required" class="form-control"/>
    <label class="form-label">Give them a hint about you</label>
    
    <button class="btn">Submit</button>
  </div>
</form>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>